{% if checkout_data.checkout.valid is false %}
{{ inc('merge_fail_summary') }}
{% endif %}
{% if build_data.builds and build_data.failed_builds %}
{{ inc('builds_fail_summary') }}
{% endif %}
{% if test_data.nonmissed_tests and test_data.failed_tests %}
{{ inc('tests_fail_summary') }}
{% endif %}
